/* GENERAL STYLE */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
input{
    outline: none;
    border: none;
}
/* HEADER STYLE */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    height: 64px;
    width: 100%;
}
header h1{
    padding-left: 10px;
}
/* SEARCH SECTION STYLE */
.search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    background-color: #ad2f2f;
}
/* MAIN CONTAINER STYLE */
main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
}
.weather-data{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
/* FORECAST SECTION */
#forecast-section{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: blue;
}
.hourly-forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 24px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.daily-forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 24px;
}
/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    height: 44px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* MEDIA QUERIES */
@media screen and (min-width: 1920px) {
    body {
        max-width: 1920px; 
        margin: 0 auto;
    }
} 